@model List<ObrabotkaYes.Domain.Entity.Order>

@{
    ViewData["Title"] = "Orders";
}

<style>
    .row-container {
      display: grid;
      grid-template-columns: 1.5fr 0.5fr;
      grid-template-rows: 1fr;
      gap: 10px 10px;
      grid-template-areas:
        ". .";
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Заказы</li>
    </ol>
</nav>

<h1>Заказы</h1>

@if(Model == null)
{
    <div class="row-container">
        <div class="col">
            <div class="d-grid">
                <a class="btn btn-dark" asp-controller="Order" asp-action="OrderAdd">Разместить заказ</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="row-container">
        <div class="col">
            <div class="d-grid">
                <a class="btn btn-dark" asp-controller="Order" asp-action="OrderAdd">Разместить заказ</a>
            </div>
            <div class="list-group mb-3">
                @foreach (var item in Model)
                {
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><a href="#" style="text-decoration: none">@item.Name</a></h5>
                            <small>@item.PublicationDate.Day/@item.PublicationDate.Month/@item.PublicationDate.Year</small>
                        </div>
                        <p class="mb-1">@item.Description</p>
                        <small>
                            @foreach (var cat in item.Categories)
                            {
                                <a href="#" style="text-decoration: none" class="badge bg-dark">@cat.Name</a>
                            }
                        </small>
                        @foreach(var img in item.OrderPictures)
                        {
                            <img src="@img.ImagePath"/>
                        }
                    </div>
                }
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link link-primary" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col">
            <form>
                <div class="card text-center">
                    <div class="btn btn-dark">
                        ФИЛЬТР
                    </div>
                    <div class="card-body">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary active" aria-current="page">Активные</a>
                            <a href="#" class="btn btn-primary">Архивные</a>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="text" placeholder="name" />
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="text" placeholder="name" />
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="text" placeholder="name" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
}